.home-view
  .header-bar
    >>> .v-toolbar__content
      padding 0
      .fitler-button
        height 100%
  .room.v-card
    position relative
    min-height 305px
    .v-progress-circular
      position absolute
      left 162px
      top 136px
