<v-container class="home-view">

  <!-- Top bar -->
  <v-toolbar
    color="primary"
    class="header-bar"
    clipped-right
    dark
    fixed
    app>
    <v-btn
      flat
      class="fitler-button"
      @click="meta.states.filterMenu = !meta.states.filterMenu">
      <v-icon>mdi-filter</v-icon>
    </v-btn>
    <v-toolbar-title>
      <v-icon>mdi-chart-bubble</v-icon>
      <span class="title">Cola Day </span>
      <span class="caption">Powerd by BookMeRoo solution</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <!-- User menu -->
    <v-toolbar-items class="hidden-sm-and-down">
      <v-menu open-on-hover bot offset-y>
        <v-btn flat slot="activator">
          Anthony Gachet
          <v-icon right>mdi-dots-vertical</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="openUserBooking()">
            <v-icon right class="mr-2">mdi-calendar-edit</v-icon>
            <v-list-tile-title>My booking</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="">
            <v-icon right class="mr-2">mdi-settings</v-icon>
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-toolbar>

  <!-- Filter panel -->
  <v-navigation-drawer
    v-model="meta.states.filterMenu"
    class="d-flex pa-0"
    fixed
    app>
    <!-- Filters menu -->
      <v-layout>
      <v-flex>
        <v-card class="elevation-0">
          <v-toolbar color="secondary" dark>
            <v-toolbar-title>Filters</v-toolbar-title>
          </v-toolbar>
          <filters @filtersUpdated=""></filters>
        </v-card>
      </v-flex>
    </v-layout>
  </v-navigation-drawer>

  <!-- Room list -->
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex
        xs12 sm6 md4 xl3
        v-for="(meetingroom, i) in filteredCollection" :key="i">
        <v-card class="room">
          <v-progress-circular
            v-if="meetingroom.status.loading"
            :size="50"
            :indeterminate="true"
            color="primary">
          </v-progress-circular>
          <meeting-room
            v-if="!meetingroom.status.loading"
            @openTimeslots="openRoomTimeslots"
            @openReporting="openReporting"
            v-model="meetingroom.getSubModel('identity')">
          </meeting-room>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

  <!-- Right panel -->
  <v-navigation-drawer
    v-model="meta.states.rightDrawer"
    disable-resize-watcher
    width="400"
    temporary
    fixed
    right
    app>
    <v-layout row>
      <v-flex>
        <v-card class="elevation-0">
          <v-toolbar color="secondary" dark>
            <v-toolbar-title>
              <span class="title" v-if="meta.states.isReporting">
                Reporting:
              </span>
              <span class="title" v-if="!meta.states.isReporting">
                Timeslots:
              </span>
              <span class="subheading" v-if="!meta.states.userBooking">
                {{ meta.states.activeRoomLabel }}
              </span>
              <span class="subheading" v-if="meta.states.userBooking">
                {{ user.profile.fullName }}
              </span>
            </v-toolbar-title>
          </v-toolbar>
          <timeslots
            v-if="
              meta.states.userBooking &&
              !meta.states.isReporting &&
              !user.status.loading
            "
            @updateIdentityStatus="updateRoomStatus"
            v-model="user.getSubModel('timeslots')">
          </timeslots>
          <div
            v-for="(meetingroom, i) in collection" :key="i"
            class="panel-container">
            <timeslots
              v-if="
                !meta.states.userBooking &&
                !meta.states.isReporting &&
                meetingroom.id === meta.states.activeRoomId &&
                !user.status.loading &&
                !meetingroom.status.loading
              "
              :user="user"
              @updateIdentityStatus="updateRoomStatus"
              v-model="meetingroom.getSubModel('timeslots')">
            </timeslots>
            <!-- Reporting -->
            <reporting
              @updateIdentityStatus="updateRoomStatus"
              v-model="meetingroom.getSubModel('identity')"
              v-if="
                meta.states.isReporting &&
                meetingroom.id === meta.states.activeRoomId &&
                !meetingroom.status.loading
              ">
            </reporting>
          </div>
          <!-- Time Slots -->
        </v-card>
      </v-flex>
    </v-layout>
  </v-navigation-drawer>

</v-container>
