<v-container class="reporting-component">
  <v-list subheader class="availabilities">
    <v-subheader>Equipments</v-subheader>
    <v-flex>
      <v-expansion-panel inset>
        <v-expansion-panel-content
          v-for="(item,i) in value.specifications.options"
          v-if="item.available"
          :key="i">
          <div slot="header">
            <v-icon
              class="mr-2"
              :color="getEquipmentStateColor(item)">
              {{ meta.icons[item.id].mdi }}
            </v-icon>
            {{ meta.icons[item.id].text }}
          </div>
          <v-card>
            <v-card-actions class="pl-3 pt-3">
              <v-switch
                color="error"
                class="switch"
                hide-details
                :change="$emit('updateIdentityStatus', value.id)"
                :label="getStatusReadable(item.issue)"
                v-model="item.issue">
              </v-switch>
            </v-card-actions>
            <v-card-text>{{ meta.icons[item.id].description }}</v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-flex>
  </v-list>

  <v-list subheader class="availabilities">
    <v-subheader>Message</v-subheader>
    <v-flex>
     <v-textarea
        solo
        clearable
        auto-grow
        v-model="meta.message.value"
        counter="140"
        placeholder="Write your message to the meeting rooms manager">
      </v-textarea>
    </v-flex>
    <v-flex>
      <v-btn
        flat
        block
        :loading="meta.message.states.loading"
        :disabled="!meta.message.value || meta.message.value.length > 140 || meta.message.states.loading"
        color="primary"
        @click="sendMessage()">
        <v-icon class="mr-2">mdi-send</v-icon>
        Send message
      </v-btn>
    </v-flex>
  </v-list>

  <v-snackbar
    v-model="meta.message.states.active"
    color="info"
    :timeout="meta.message.states.duration"
    right>
    <span class="subheading">Your message has been sent</span>
    <v-btn
      flat
      color="accent"
      @click="meta.message.states.active = false">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
</v-container>
