<div class="room-component">
  <!-- Card header -->
  <v-card-media
    height="150px"
    v-if="value"
    class="white--text"
    :src="getImgUrl(value.picture)">
    <v-container class="pl-0">
      <v-layout>
        <v-flex class="media__title">
          <div class="title text-xs-left pl-2">{{ value.label }}</div>
          <div class="subheading text-xs-left pl-2">{{ value.organizationTitle }}</div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-media>

  <!-- Card content -->
  <v-card-title>
   <v-layout column>
    <v-layout v-if="value" class="indicators">
      <v-chip outline small class="mx-0">
        <v-avatar class="mr-0">
          <v-tooltip bottom>
            <v-icon slot="activator">
              {{ meta.icons[value.specifications.seats.id].mdi }}
            </v-icon>
            <span>{{ meta.icons[value.specifications.seats.id].text }}</span>
          </v-tooltip>
        </v-avatar>
        <span>{{ value.specifications.seats.number }}</span>
      </v-chip>
      <v-spacer></v-spacer>
      <v-tooltip
        bottom
        class="ml-2 pt-1"
        v-for="option in value.specifications.options"
        :key="option.id"
        v-if="option.available && value">
        <v-icon
          slot="activator"
          :color="getEquipmentStateColor(option)">
          {{ meta.icons[option.id].mdi }}
        </v-icon>
        <span>{{ meta.icons[option.id].text }}</span>
      </v-tooltip>
      <v-tooltip
        bottom
        class="ml-2 pt-1"
        v-for="state in value.states"
        :key="state.id"
        v-if="state.active">
        <v-icon
          slot="activator"
          color="error">
          {{ meta.icons[state.id].mdi }}
        </v-icon>
        <span>{{ meta.icons[state.id].text }}</span>
      </v-tooltip>
    </v-layout>
    <v-divider class="my-2"></v-divider>
    <v-list v-if="value" class="messages">
      <v-list-tile-content>
        <v-list-tile-sub-title>
          {{ value.messages.availability.message }}
        </v-list-tile-sub-title>
        <v-list-tile-sub-title
          v-if="value.messages.equipment.active">
          {{ value.messages.equipment.message }}
        </v-list-tile-sub-title>
      </v-list-tile-content>
    </v-list>
   </v-layout>
  </v-card-title>

  <!-- Card buttons -->
  <v-card-actions>
    <v-layout>
      <v-btn
        flat
        class="report"
        color="primary"
        @click="$emit('openReporting', value.id)">
        Make a report
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        flat
        class="book"
        color="primary"
        @click="$emit('openTimeslots', value.id)">
        Book
      </v-btn>
    </v-layout>
  </v-card-actions>
</div>
