<v-list two-line class="timeslots-component">
  <template
    v-if="value"
    v-for="(item, index) in value">
    <v-list-tile :key="item.title" class="timeslots__container">
      <v-list-tile-action-text>
        <v-list-tile-title>
          {{ item.timeslot.start }}{{ item.timeslot.meridiem }} to
          {{ item.timeslot.end }}{{ item.timeslot.meridiem }}
        </v-list-tile-title>
      </v-list-tile-action-text>
      <v-list-tile-content>
        <v-layout>
          <transition-group class="buttons" name="list-action">
            <!-- When time slot not booked or booked by the user in another room-->
            <v-flex
              class="list-action-item"
              v-if="!item.booked && !meta.states.buttons[index].preBooking"
              key="booked-not-pre">
              <v-btn
                block
                v-if="user && user.timeslots && user.timeslots[index].booked"
                color="error"
                @click="cancelBooking(item, index, user.timeslots[index].link.roomId)"
                :disabled="
                  meta.states.buttons[index].loading ||
                  meta.states.preBooking !== meta.states.buttons[index].preBooking
                "
                :loading="meta.states.buttons[index].loading"
                class="elevation-0 ma-0 fill-height cancel">
                Cancel Booking of {{ user.timeslots[index].link.roomId }}
              </v-btn>
              <div
                v-if="!user"
                class="fill-height accent user-free">
                AVAILABLE
              </div>
              <v-btn
                block
                v-if="
                  user &&
                  user.timeslots &&
                  !user.timeslots[index].booked
                "
                :loading="meta.states.buttons[index].loading"
                :disabled="
                  meta.states.buttons[index].loading ||
                  meta.states.preBooking !== meta.states.buttons[index].preBooking
                "
                class="elevation-0 ma-0 fill-height"
                @click="preBooking(item, index)">
                Book
              </v-btn>
            </v-flex>
            <!-- When time slot booked or booked by the user in this room-->
            <v-flex v-if="item.booked" key="booked" class="list-action-item">
              <v-btn
                block
                v-if="user"
                :color="getColor(item.link.userId)"
                @click="cancelBooking(item, index)"
                :disabled="
                  item.link.userId !== user.profile.id ||
                  meta.states.preBooking !== meta.states.buttons[index].preBooking
                "
                :loading="meta.states.buttons[index].loading"
                class="elevation-0 ma-0 fill-height cancel">
                <span v-if="item.link.userId !== user.profile.id">Booked</span>
                <span v-if="item.link.userId === user.profile.id">Cancel Booking</span>
              </v-btn>
              <v-btn
                block
                v-if="!user"
                color="error"
                @click="cancelBooking(item, index, item.link.roomId)"
                :loading="meta.states.buttons[index].loading"
                class="elevation-0 ma-0 fill-height cancel">
                Cancel Booking of {{ item.link.roomId }}
              </v-btn>
            </v-flex>
            <!-- When time slot prebooked by the user (cancel) -->
            <v-flex
              key="pre-cancel"
              class="list-action-item"
              v-if="meta.states.buttons[index].preBooking &&
              meta.states.buttons[index].cancelPre">
              <v-btn
                block
                color="error"
                :loading="meta.states.buttons[index].loading && !meta.states.buttons[index].confirmPre"
                class="elevation-0 ma-0 fill-height cancel"
                @click="cancelBooking(item, index)">
                cancel
              </v-btn>
            </v-flex>
            <!-- When time slot prebooked by the user (confirm) -->
            <v-flex
              key="pre-confirm"
              class="list-action-item"
              v-if="
                meta.states.buttons[index].preBooking &&
                meta.states.buttons[index].confirmPre
              ">
              <v-btn
                block
                color="success"
                :loading="meta.states.buttons[index].loading && !meta.states.buttons[index].cancelPre"
                class="elevation-0 ma-0 fill-height confirm"
                @click="confirmBooking(item, index)">
                confirm
              </v-btn>
            </v-flex>
          </transition-group>
        </v-layout>
      </v-list-tile-content>
    </v-list-tile>
    <v-divider
      v-if="index - 1 < value.length"
      :key="index">
    </v-divider>
  </template>
  <v-snackbar
    v-if="value"
    color="info"
    v-model="meta.states.snackbar.active"
    :timeout="meta.states.snackbar.duration"
    multi-line
    right>
    <v-layout column>
      <v-flex class="title">Room {{ value[0].link.roomId }} prebooked</v-flex>
      <v-flex class="subheading">Still {{ meta.states.timer.duration }} secondes to confirm</v-flex>
    </v-layout>
    <v-btn
      flat
      color="accent"
      @click="meta.states.snackbar.active = false">
      Close
    </v-btn>
  </v-snackbar>
</v-list>


