.timeslots-component
  >>> .v-list__tile {
    padding-right 0
  }
  .user-free
    display flex
    align-items center
    justify-content center
  .v-list__tile__title
    min-width 90px
  .v-list__tile__content
    .layout
      width 100%
      .buttons
        position relative
        width 100%
        display flex
        .list-action-item
          transition all 1s
        .list-action-enter,
        .list-action-leave-to
          opacity 0
          transform translateX(-50px)
        .list-action-leave-active
          position absolute
          height 72px
          width 100%
        .cancel
          border-radius 3px 0 0 3px
        .confirm
          border-radius 0
