<v-container class="filters-component">
  <v-list subheader class="availabilities">
    <v-subheader>Availabilities</v-subheader>
    <v-list-tile class="starting-hour">
      <v-select
        attach
        @selected="$emit('filtersUpdated', meta.states)"
        v-if="meta.filters.startingHours"
        :items="meta.filters.startingHours"
        v-model="meta.states.startingHour"
        append-icon="mdi-calendar-clock"
        label="Starting hour"
        item-value="value"
        clearable>
      </v-select>
    </v-list-tile>
    <v-list-tile class="mt-4 duration">
      <v-select
        attach
        @selected="$emit('filtersUpdated', meta.states)"
        :items="meta.filters.durations"
        v-model="meta.states.duration"
        append-icon="mdi-timer-sand"
        item-value="value"
        label="Duration"
        clearable>
      </v-select>
    </v-list-tile>
  </v-list>

  <v-divider class="my-3"></v-divider>

  <v-list subheader>
    <v-subheader>Size</v-subheader>
    <v-list-tile class="minimum-seats">
      <v-text-field
        append-icon="mdi-account"
        @change="$emit('filtersUpdated', meta.states)"
        v-model="meta.states.minimumSeats"
        label="Minimum seats"
        type="number"
        clearable>
      </v-text-field>
    </v-list-tile>
  </v-list>

  <v-divider class="my-3"></v-divider>

  <v-list subheader class="equipment">
    <v-subheader>Equipments</v-subheader>
    <v-list-tile
      v-for="(item,i) in meta.states.requiredEquipments"
      :key="i"
      :class="item.class"
      @click="$emit('filtersUpdated', meta.states)">
      <v-list-tile-action>
        <v-checkbox color="primary" v-model="item.checked"></v-checkbox>
      </v-list-tile-action>
      <v-list-tile-content
        @click="item.checked = !item.checked">
        <v-list-tile-sub-title>{{ item.text }}</v-list-tile-sub-title>
      </v-list-tile-content>
      <v-list-tile-action>
        <v-icon :class="{ 'success--text': item.checked }">{{ item.mdi }}</v-icon>
      </v-list-tile-action>
    </v-list-tile>
  </v-list>
</v-container>
